/*! Section #0 Imports, Vars, Setting basics*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Open+Sans&display=swap');


:root {
    /*? Colors */
        --black: #000;
        --dark_gray: #222;
        --gray: #444;
        --light_gray: #aaa;
        --white: #FFF;
        --red: #e73306;
        --yellow: #c9ab00;
        --green: #09d174;
        --blue: #07c;
        --dark_blue: #059;

    /*? Font */
    /* REF: https://fonts.google.com/ */
    --font:         'Open Sans', sans-serif;    /* Font (choose your own) */
    --fontweight:   500;                        /* Font Weight (def = 500) */
    --fontsize:     1.275rem;                    /* Font Size (def = 1.275rem) */

    /*? Assorted */
    --bg-img: url('');                          /* If you want to use an image set it here*/
    --speed:    100ms;                      /* Animation/Transition Speed (def = 100ms)*/
    --spacing:      1em;                      /* Spacing = used for margin and padding calcs (def = 1em) */
    --radius:       1em;                        /* How rounded things are (def = 1em) */
    --pfpsize:      8em;                       /* PFP Size (fairly obvious) */
}

body {
    font-family: var(--font);
    background: var(--black);
    background-image: var(--bg-img);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/*! Section #1 Main stuff */
#profilepic, #profilepic img {
    width: var(--pfpsize);
    height: var(--pfpsize);
    margin: var(--spacing) auto;
    display: block;
    border-radius: 99%;
}

.username {
    color: var(--white);

    font-size: calc(var(--fontsize)*2);
    font-weight: bolder;
    font-family: var(--font);

    padding: var(--spacing);

    display: block;
    text-align: center;
    text-decoration: none;

}

#links {

    max-width: calc(var(--spacing)*40);
    margin: calc(var(--spacing)*2) auto;
    width: auto;
    display: block;
}

.link {

    background: var(--dark_gray);
    color: var(--white);
    
    border-radius: var(--radius);

    font-size: var(--fontsize);
    font-weight: var(--fontweight);

    margin: var(--spacing);
    padding: var(--spacing);
    transition: var(--speed);

    text-align: center;
    display: block;
    text-decoration: none;
}

@media (hover: hover) {
    .link:hover {
        background: var(--gray);
    }
}

.link:active {
    color: var(--Foreground);
    transition: var(--speed);
}

.description {

    color: var(--light_gray);

    font-size: var(--fontsize);
    font-family: var(--font);

    margin: var(--spacing);
    padding: var(--spacing);

    text-align: center;
    display: block;
}

/* Section #2 Scrollbar*/
/* Ref: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--dark_gray);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gray);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light_gray);
}
